@media (max-width: 1200px){

.callContent{
    margin-bottom: 33px;
    padding-top: 10px;
    width: 200px;
}

.callContent h4 {
    font-size: 25px;
    line-height: 25px;
}

}

@media (max-width: 1200px){

.callContent{
    margin-bottom: 33px;
    padding-top: 10px;
    width: 200px;
}

.callContent h4 {
    font-size: 25px;
    line-height: 25px;
}

}

@media (min-width: 650px) and (max-width: 991px) {
  .butterflySingle {
    text-align: left !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .butterflySingle h3{
  	font-size: 24px;
  }

  .butterflySingle p{
  	line-height: 14px;
  }
}