/************************ 3. ELEMENTS *************************************************************************************************/

/************************ 3.1. Buttons ******************************************************************************************/

.callBtn {
    padding: 15px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-top: 15px;
}

.callBtn:hover {
    color: #de3c2f;
    border-color: #de3c2f;
    background: #fff;
}

.callBtnLight {
    color: #de3c2f;
    border-color: #de3c2f
}

.callBtnLight:hover {
    color: #fff;
    border-color: #de3c2f;
    background: #de3c2f;
}

.whiteBtn{
    border: 2px solid #fff;
    clear: both;
    height: 60px;
    margin-top: 43px;
    width: 207px;
    text-align: center;
    background: transparent;
}
.whiteBtn i{
    background: #fff;
    color: #404040;
    float: left;
    font-size: 24px;
    height: 60px;
    margin-left: -2px;
    margin-top: -2px;
    padding-top: 16px;
    text-align: center;
    width: 60px;
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    -o-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
}
.whiteBtn span{
    background: transparent;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    padding-top: 21px;
    text-transform: uppercase;
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    -o-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
}
.whiteBtn:hover i{
    background: #de3c2f;
    color: #fff;
}
.whiteBtn:hover{
    background: #fff;
}
.whiteBtn:hover span{
    color: #404040;
}

.redBtn {
    border: 2px solid #de3c2f;
    clear: both;
    height: 60px;
    margin: 43px 10px 0 10px;
    width: 207px;
    text-align: center;
    background: transparent;
    color: #de3c2f;
    background: #fff
}
.redBtn i{
    background: #de3c2f;
    color: #fff;
    float: left;
    font-size: 24px;
    height: 60px;
    margin-left: -2px;
    margin-top: -2px;
    padding-top: 16px;
    text-align: center;
    width: 60px;
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    -o-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
    border: 2px solid #de3c2f;
}
.redBtn span{
    background: transparent;
    color: #de3c2f;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    padding-top: 21px;
    text-transform: uppercase;
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    -o-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
}
.redBtn:hover i{
    background: #fff;
    color: #de3c2f;
}
.redBtn:hover{
    background: #de3c2f;
}
.redBtn:hover span{
    color: #fff;
}