/************************ 1. SECTIONS *************************************************************************************************/

/************************ 1.1 Header Section ******************************************************************************************/
.headerArea{
    background: #fff;
    height: 80px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 40px;
    padding-top: 23px;
    z-index: 99;
}
.logo{
    padding-left: 100px;
    width: 20%;
}
.logoImg{
    margin-top: -10px;
    float: left;
    width: 164px;
}

.topPhone .topPhone__link{
    color: #de3c2f;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
}

.mainMenu{
    width: 55%;
}
.mainMenu > ul{
    text-align: center;
}
.mainMenu > ul > li{
    display: inline-block;
    padding-bottom: 32px;
    padding-top: 7px;
    position: relative;
}
.mainMenu > ul > li > a{
    display: inline-block;
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    border-right: 1px solid #f2f2f2;
    padding: 3px 25px;
}
.mainMenu > ul > li:last-child > a{
    border-right: 0;
}
.hasChild:after {
    content: "\f107";
    color: #404040;
    font-family: FontAwesome;
    font-size: 18px;
    left: 0;
    position: absolute;
    right: 0;
    top: 24px;
    display: none;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}
.hasChild:hover:after,
.hasChild.active:after {
    color: #de3c2f;
}
.mainMenu > ul > li.active > a,
.mainMenu > ul > li > a:focus,
.mainMenu > ul > li:hover > a{
    color: #de3c2f;
}
.dropMenu{
    position: absolute;
    width: 250px;
    padding: 25px 0;
    background: #404040;
    top: 157px;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    -o-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    text-align: left;
}
.mainMenu > ul > li:hover .dropMenu{
    top: 57px;
    visibility: visible;
    opacity: 1;
}
.dropMenu > li{
    display: block;
    position: relative;
    padding: 0 30px;
}

.dropMenu > li > a{
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    color: #fff;
    border-bottom: 1px solid #4a4a4a;
    padding: 12px 0 12px 5px;
}
.dropMenu > li:first-child > a{
    padding-top: 0;  
}
.dropMenu > li:last-child > a{
    padding-bottom: 0;
    border-bottom: 0;  
}
.dropMenu > li > a:focus,
.dropMenu > li > a:hover{
    color: #de3c2f;
}
.dropSub{
    background: #fff;
    left: 250px;
    padding: 15px;
    position: absolute;
    text-align: left;
    top: 120px;
    width: 280px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    -o-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
}
.dropMenu > li:hover .dropSub{
    visibility: visible;
    opacity: 1;
    top: -16px;
}
.dropSub li{
    display: block;
}
.dropSub li a{
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    color: #404040;
    border-bottom: 1px solid #f2f2f2;
    padding: 8px 0 8px 5px;
}
.dropSub li:first-child a{
    padding-top: 0;
}
.dropSub li:last-child a{
    padding-bottom: 0;
    border-bottom: 0;
}
.dropSub li a:focus,
.dropSub li a:hover{
    color: #de3c2f;
}
.menuButton {
    display: inline-block;
    border-radius: 2px;
    height: 30px;
    line-height: 4px;
    margin: 12px auto 5px;
    padding: 2px 4px 0;
    width: 40px;
    cursor: pointer;
    transition: all ease-in-out 600ms;
    -moz-transition: all ease-in-out 600ms;
    -webkit-transition: all ease-in-out 600ms;
    -ms-transition: all ease-in-out 600ms;
    -o-transition: all ease-in-out 600ms
}

.menuButton i {
    font-size: 30px;
    color: #404040;
    padding-left: 10px;
}
.menuButton.active i,
.menuButton:hover i {
    color: #de3c2f;
}
.headerFix{
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.35);
}

/************************ 1.2. Slider Section ***********************************************************************************************/

.sliderArea{
    position: relative;
}

.sliderArea:after{
    content: "";
    background: url(../images/rectangle/slider.png) no-repeat scroll center center;
    width: 80px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: auto;
    bottom: -40px;
    z-index: 2;
}
.sliderArea[data-currentslide="activRev_2"]:after{
    background: url(../images/rectangle/slider2.png) no-repeat scroll center center;
}
.sliderArea[data-currentslide="activRev_3"]:after{
    background: url(../images/rectangle/slider3.png) no-repeat scroll center center;
}

.sliderCaptions{
    float: left;
    width: 705px;
    padding: 60px 0 108px;
}
.redCaption {
    background: #de3c2f;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 25px;
    text-transform: uppercase;
}
.headCaption h2, .headCaption h1{
    font-size: 60px;
    line-height: 60px;
    color: #404040;
    padding: 25px 0 40px;
    text-transform: uppercase;
}
.headCaption span{
    font-weight: 300;
    color: #fff;
}
.capItalic{
    font-size: 20px;
    color: #fff;
    line-height: 22px;
}
.sliderBtn{
    border: 2px solid #fff;
    clear: both;
    height: 60px;
    margin-top: 43px;
    width: 207px;
    text-align: center;
    background: transparent;
}
.sliderBtn i{
    background: #fff;
    color: #404040;
    float: left;
    font-size: 24px;
    height: 60px;
    margin-left: -2px;
    margin-top: -2px;
    padding-top: 16px;
    text-align: center;
    width: 60px;
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    -o-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
}
.sliderBtn span{
    background: transparent;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    padding-top: 21px;
    text-transform: uppercase;
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    -o-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
}
.sliderBtn:hover i{
    background: #de3c2f;
    color: #fff;
}
.sliderBtn:hover{
    background: #fff;
}
.sliderBtn:hover span{
    color: #404040;
}
.sliderImg{
    width: 575px;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
}
.sliderImg.one{
    top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right:30px;
}
.sliderImg.two{
    width: 635px;
}
.sliderImg.three{
    width: 515px;
}
.tp-bullets .bullet {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 50%;
    height: 10px !important;
    margin: 0 0 9px !important;
    width: 10px !important;
}
.tp-bullets .bullet.last {
    margin-bottom: 0 !important;
}
.sliderArea .tp-bullets .bullet.selected,.sliderArea .tp-bullets .bullet:hover {
    background: transparent !important;
    border: 2px solid #fff;
    width: 14px !important;
    height: 14px !important;
    position: relative;
    left: -2px;
}
.sliderArea .tp-bullets {
    bottom: 0 !important;
    height: 40px;
    left: auto !important;
    margin: auto 0;
    right: 70px !important;
    width: 14px;
    top: 0 !important;
}
.sliderArea .tp-bannertimer {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden;
}

/************************ 1.3. Breadcrumb Section **********************************************************************************************************/
.breadCrumArea{
    position: relative;
    background: url(../images/breadBg.jpg) no-repeat scroll center center / cover;
    padding: 150px 0 45px;
}

.breadCrumArea h1{
    font-size: 45px;
    color: #404040;
}
.breadCrumArea h1 span{
    font-weight: 300;
}
.breadLink{
    margin-top: 26px;
}
.breadLink li{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color: #fff;
}
.breadLink li span{
    display: inline-block;
    padding: 0 3px;
    font-size: 16px;
}
.breadLink li a{
    color: #fff;
}
.breadLink li:hover a{
    color: #de3c2f;
}

/************************ 1.4. Content Section ************************************************************************************************************/

.contentTitle h2, .contentTitleLight h2{
    padding-top: 20px;
    font-size: 37px;
    margin-bottom: 45px;
}

.contentTitleLight h2{
    color: #fff;
}

.contentTitle h2 span, .contentTitleLight h2 span{
    font-weight: 400;
}

.diagonalArea, .whiteArea, .pictureArea {
    background: url(../images/diagonal.png) repeat scroll center center;
    position: relative;
    padding: 50px 0;
}

.diagonalArea:after, .whiteArea:after, .pictureArea:after {
    content: "";
    background: url(../images/rectangle/feature.png) no-repeat scroll center center;
    width: 80px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: auto;
    bottom: -40px;
    z-index: 1;
}

/************************ 1.4.1. Diagonal Section ************************************************************************************************************/

.diagonalArea {
    background: url(../images/diagonal.png) repeat scroll center center;
}

.diagonalArea:after {
    background: url(../images/rectangle/diagonal.png) no-repeat scroll center center;
}

/************************ 1.4.2. White Section ************************************************************************************************************/

.whiteArea {
    background: #fff;
}

.whiteArea:after {
    background: url(../images/rectangle/white.png) no-repeat scroll center center;
}

/************************ 1.4.2. Picture Section ************************************************************************************************************/

.pictureArea {
     background: url(../images/pictureBg.jpg) no-repeat scroll center center / cover;
}

.pictureArea:after {
    background: url(../images/rectangle/picture.png) no-repeat scroll center center;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(64,64,64,.85);
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -ms-transition: all 700ms ease-in-out;
    -o-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
}


/************************ 1.5 Footer Section *********************************************************************************************************/

.footerArea{
    position: relative;
    padding: 0;
}

/************************ 1.5.1 FooterTop Section *********************************************************************************************/

.footerTop{
    background: url(../images/pictureBg.jpg) no-repeat scroll center center / cover;
    position: relative;
    padding: 70px 0 50px 0;
}
.footerTop:after{
    content: "";
    background: url(../images/logo.png);
    background-size: cover;
    width: 200px;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: auto;
    bottom: -100px;
    z-index: 1;
}
.footerTopContent h2{
    color: #fff;
    font-size: 30px;
}

.footerTopContent h3{
    padding: 30px 0;
    color: #fff;
    font-size: 25px;
}

.footerTopContent h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.footerTopContent {
    text-align: center;
    color: #fff;
}

.footerTopContent ul{
    text-align: left;
    padding: 20px;
    margin-left: 20px;

}

.footerTopContent li a{
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
}

.footerTopContent a{
    color: #fff;
}

.footerTopContent a:hover{
    color: #de3c2f;
}

.footerTopSocial {
    padding: 20px;
    word-spacing: 15px;
    color: #fff;
}

/************************ 1.5.2 Copyright Section *********************************************************************************************/

.copyRight{
    padding: 120px 0 50px 0;
    background: #fff;
}
.copyRight p{
    font-size: 16px;
    line-height: .9;
}
.copyRight p a{
    color: #979797;
}
.copyRight p a:hover{
    color: #de3c2f;
}


/************** 1.6 Loader********/
.loaderWrap{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: #de3c2f;
    top: 0;
    z-index: 99999;
}
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 120px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#loader .diamond {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background: #fff;
    -webkit-transform: translateY(0) rotate(45deg) scale(0);
    -ms-transform: translateY(0) rotate(45deg) scale(0);
    transform: translateY(0) rotate(45deg) scale(0);
    -webkit-animation: diamonds 1500ms linear infinite;
    animation: diamonds 1500ms linear infinite;
}
#loader .diamond:nth-child(1) {
    -webkit-animation-delay: -1000ms;
    animation-delay: -1000ms;
}
#loader .diamond:nth-child(2) {
    -webkit-animation-delay: -2000ms;
    animation-delay: -2000ms;
}
#loader .diamond:nth-child(3) {
    -webkit-animation-delay: -3000ms;
    animation-delay: -3000ms;
}
#loader .diamond:nth-child(4) {
    -webkit-animation-delay: -4000ms;
    animation-delay: -4000ms;
}

@-webkit-keyframes diamonds {
    50% {
        -webkit-transform: translateY(-50px) rotate(45deg) scale(1);
        transform: translateY(-50px) rotate(45deg) scale(1);
    }
    100% {
        -webkit-transform: translateY(-100px) rotate(45deg) scale(0);
        transform: translateY(-100px) rotate(45deg) scale(0);
    }
}

@keyframes diamonds {
    50% {
        -webkit-transform: translateY(-50px) rotate(45deg) scale(1);
        transform: translateY(-50px) rotate(45deg) scale(1);
    }
    100% {
        -webkit-transform: translateY(-100px) rotate(45deg) scale(0);
        transform: translateY(-100px) rotate(45deg) scale(0);
    }
}

