@font-face {
  font-family: "NeoSansProBold";
  src: url("../fonts/NeoSansProBold/NeoSansProBold.eot");
  src: url('../fonts/NeoSansProBold/NeoSansProBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NeoSansProBold/NeoSansProBold.woff2') format('woff2'),
       url('../fonts/NeoSansProBold/NeoSansProBold.woff') format('woff'),
       url('../fonts/NeoSansProBold/NeoSansProBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
    font-family: Arial;
}
div {
  box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255,255,255,0.3);
    box-sizing: border-box;
}

.wide {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

#upbutton {
  display: none;
  position: fixed;
  bottom: 0;
  right: calc((100vw - 1300px)/2);
  z-index: 1000;
  background-color: rgba(237,28,36,0.3);
  padding: 10px 15px;
  padding-right: 20px;
}

#upbutton * {
}

#upbutton a, #upbutton a:hover, #upbutton a:focus {
  color: #000;
  text-decoration: none;
}

header .logo {
  padding: 15px;
}

header .logo img {
  width: 320px;
}

header nav {
  padding: 20px 40px;
}

header nav ul {
    text-align: right;
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 10px 14px 0;
}

header nav ul li img{
    width: 20px;
    height: 20px;
    opacity: 0.9;
    margin-right: 15px;
}

header nav ul li a {
    font-family: "NeoSansProBold";
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition: 0.7s;
}

header nav ul li a:hover {
    text-decoration: none;
    color: #ed1c24;
}

header nav ul li a:link {
    text-decoration: none;
    color: #000;
}

header nav ul li a:focus {
    text-decoration: none;
    color: #000;
}

.mainscreen {
  background:url('../img/mainbg.jpg');
  background-size: cover;
}

.mainscreen h1 {
  padding-bottom: 20px;
  font-family: "NeoSansProBold";
  background:url('../img/mask.jpg');
    background-repeat:repeat-x;
    background-position:0 0;
    font-size:70px;
    text-transform:uppercase;
    color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    margin:0;
    -webkit-animation:Background 30s linear infinite;
    -moz-animation:Background 30s linear infinite;
    -ms-animation:Background 30s linear infinite;
    -o-animation:Background 30s linear infinite;
    animation:Background 30s linear infinite;
}
@keyframes Background {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
    @-webkit-keyframes Background {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
    @-ms-keyframes Background {<     from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
    @-moz-keyframes Background {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
.mainscreen p {
  margin-top: 20px;
  font-size: 18px;
}
.more {
  margin-top: 30px;
  padding: 5px 25px 5px 10px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  background-color: #f26621;
  background-image:  url(../img/tr.png);
  background-position:  right 70%;
  background-repeat: no-repeat;
  text-decoration: none !important;
  transition: 1s;
}


.gen7 {
  background: url("../img/bg1.jpg");
  background-size: cover;
}

.gen7 h2 {
  font-size: 50px;
  font-family: "NeoSansProBold";
  text-transform: uppercase;
}
.gen7 p {
  margin-top: 20px;
  font-size: 22px;
}
.gen7 .more {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  text-transform: none;
  margin-top: 40px;
  text-decoration: none !important;
}
.more:hover {
  background-color: #ed1c24;
}
.gen7feat > div {
  text-align: center;
}
.gen7feat img {
  width: 50%;
}
.gen7feat h3 {
  font-family: "NeoSansProBold";
  font-size: 16px;
}
.gen7feat ul {
  text-align: left;
  list-style: none;
  margin-top: 20px;
}
.gen7feat ul li{
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 15px;
}
.gen7feat ul li:before{
  content: "✓";
  color: #ed1c24;
  margin-left: -14px;
}

table {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 45px;
}

table thead td{
  font-family: "NeoSansProBold";
  color: #fff;
  background: #ed1c24;
  border: 1px solid #ed1c24;
  padding: 10px 5px;
  font-size: 14px;
  line-height: 16px;
}

table tbody td{
  color: #404040;
  border: 1px solid #ed1c24;
  padding: 5px;
  font-size: 14px;
  line-height: 16px;
}
.gen6 {
  background: url("../img/bg2.jpg");
  background-size: cover;
}
.gen6 .more, .gen7 .more {
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
.gen6 h2 {
  font-size: 50px;
  font-family: "NeoSansProBold";
  text-transform: uppercase;
  color: #fff;
}
.gen6 p {
  margin-top: 20px;
  font-size: 22px;
  color: #fff;
}

.game h2 {
  padding-bottom: 20px;
  font-family: "NeoSansProBold";
  background:url('../img/game.jpg');
    background-repeat:repeat-x;
    background-position:0 0;
    background-size: cover;
    font-size:180px;
    line-height: 150px;
    text-transform:uppercase;
    color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    margin:0;
}
.game p {
  margin-top: 20px;
  font-size: 22px;
}
.game button {
  margin-right: 30px;
}

.slider-nav {
  position: relative;
  top: 130px;
  width: 100%;
  text-align: right;
  z-index: 10000;
}

.slide {
  margin-top: 80px;
}

.slider-nav a{
  padding: 0 10px;
  text-transform: uppercase;
  color: #404040;
  transition: 0.5s;
  text-decoration: none !important;
  font-family: "NeoSansProBold";
}

.slider-nav a:hover{
  color: #ed1c24;
}
.nav__item.active {
  color: #ed1c24;
}
.nav__item2.active2 {
  color: #ed1c24;
}
a {
  text-decoration: none !important;
}
.tech {
  display: none;
  position: absolute;
  background: #f26621;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  bottom: 50px;
}

.technologies tbody tr td:first-child{
  text-align: left;
  cursor: pointer;
}

.technologies tbody tr td:first-child:hover .tech{
  display: block;
}

.redlink {
  color: #ed1c24;
}
